.App {
    padding: 0rem;
    margin: 0rem;
}

h1 {
    color: #131313;
    padding: 0;
    margin: 0;
    font-size: 6rem;
    z-index: 6;
}

p {
    text-transform: uppercase;
    color: #131313;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 4rem;
        /* color: white; */
    }
     /* p{
       color:white; 
    }  */
}