body.white-background,
.gallery.white-background,
.section.white-background, .urn-section.white-background {
  background-color: rgba(255, 255, 255, 0.611);
  transition: background-color 0.5s ease;
}

.App {
  background-color: #131313;
  transition: background-color 0.5s ease;
  min-height: 100vh;
}

/* 
body.white-background,
.gallery.white-background,
.section.white-background {
  color: black;
} */

h1 {
    color: #131313;
    padding: 0;
    margin: 0;
    font-size: 6rem;
    z-index: 6;
}

p {
    text-transform: uppercase;
    color: #131313;
    padding: 0;
    margin: 0;
}





@media screen and (max-width: 650px) {
    h1 {
        font-size: 4rem;
        /* color: white; */
    }
     /* p{
       color:white; 
    }  */
}
